body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: black;
  overflow: hidden;
}

.star {
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: white;
  border-radius: 50%;
  animation: flash randomDuration() infinite ease-in-out alternate;
  animation-delay: randomDelay();
  opacity: 0; // Initial opacity to 0 so they're invisible at start
}

@keyframes flash {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

// Custom function to generate random animation duration between 1s and 3s
@function randomDuration() {
  @return 1s + random(2000) * 1ms;
}

// Custom function to generate random animation delay between 1s and 5s
@function randomDelay() {
  @return 1s + random(4000) * 1ms;
}
