.star {
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: white;
  border-radius: 50%;
  opacity: 0;

  &:nth-child(odd) {
    animation: flash 1.5s infinite ease-in-out alternate;
    animation-delay: randomize(5);
  }

  &:nth-child(even) {
    animation: flash 2s infinite ease-in-out alternate 8s;
    animation-delay: randomize(2);
  }
}

@keyframes flash {
  to {
    opacity: 1;
  }
}

@function randomize($factor: 1) {
  @return random(5) * $factor + s;
}
